{
    "Nhost": 32,
    "Switch": "dreact",
    "PackBw": 125,
    "Workload": "simple",
    "Tmax": 1000000,
    "LoadScaler": 1.0,
    "UnitScaler": 100,
    "LinkScaler": 10,
    "SmallFlowFreq": 3.5,
    "SafeBandw": true
}
